NytProjekt/data/*
Legacy/Images/
Legacy/Ais/
Legacy/raw_data/
Legacy/NytProjekt/

Legacy/New_CAE/labeled_data/*
Legacy/New_CAE/old_images/*

Legacy/CAE/artifacts/*
Legacy/Graph Diffusion/*
Legacy/CAE/*.h5
Legacy/CAE/__pycache__/*
Legacy/New_CAE/__pycache__/*
Legacy/New_CAE/artifacts/*
Legacy/New_CAE/models/*
Legacy/New_CAE/results/*.h5

atlas_hdf5_columns/*

DASProject/data/processed/*
DASProject/data/visualization/*
DASProject/data/raw/*
DASProject/data/visualizations/092535-092555.png
DASProject/data/visualizations/092545-092605.png
DASProject/data/visualizations/092615-092635.png
DASProject/data/visualizations/092625-092645.png
DASProject/data/visualizations/092605-092625.png
DASProject/data/visualizations/092555-092615.png
Legacy/__pycache__/Helpers.cpython-311.pyc
