# Virtual environment
.venv/
venv/
ENV/
env/

# Byte-compiled / cache
__pycache__/
*.py[cod]
*$py.class

# Jupyter
.ipynb_checkpoints/

# IDEs
.vscode/
.idea/

# Environment files
.env

# Logs
*.log

# Tests
.pytest_cache/

# Distribution / packaging
build/
dist/
*.egg-info/

# Data
raw_data/*.hdf5
raw_data/GC_data/*.hdf5
raw_data/DataNat/*.hdf5
raw_data/nydata/*.hdf5
raw_data/GC_data/20250702/*.hdf5
raw_data/GC_data/20250629/*.hdf5
Graph Diffusion/*
!Graph Diffusion/**/*.py


#AIS
AIS/*.csv
AIS/*.zip



# Ignore large dataset files
*.npy
*.npz
*.pkl
*.csv
*.h5
*.pt
AIS/zip/aisdk-2025-06-29.zip
AIS/zip/aisdk-2025-07-02.zip
